/* ------- Error Date ------- */

.errorDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.errorDate > h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: bolder;
}

.errorDate > h3 > span {
  font-size: 1.8rem;
}

.errorMessage > p {
  font-size: 1.2rem;
  margin-top: 15px;
  font-weight: bold;
}

.errorDate span {
  font-family: 'Comic Neue', cursive;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 1.6rem;
}

.choose {
  margin-top: 5px;
}

/* ------- Error API ------- */

.errorApi {
  margin-bottom: 15px;
}

.errorApi > p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.errorApi span {
  font-family: 'Comic Neue', cursive;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 1.4rem;
}

/* =================================================
                   MEDIA QUERIES
 ================================================= */

@media screen and (min-width: 376px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  /* ------ ErrorDate ------ */
  .errorDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .errorDate img {
    width: 900px;
  }

  /* ------- ErrorApi ------- */
  .errorApi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .errorImageApi img {
    width: 900px;
  }
}
