header {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.nasa-image {
  width: 120px;
  height: 120px;
  margin-top: 1rem;
}

.title {
  order: 2;
  text-align: center;
}

h1 {
  font-size: 1.8em;
}

header h2 {
  font-family: 'Comic Neue', cursive;
  font-size: 3em;
}

/* ------ SWITCH ------ */
.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
}

.switch input {
  display: none;
}

/* Base: color del background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
}

/* Posición, tamaño y color del slider */
.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 7px;
  bottom: 5px;
  background-color: rgb(243, 247, 244);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Background color when it is checked */
input:checked + .slider {
  background-color: var(--secondary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #f41206;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-container > p {
  font-size: 1.1rem;
  font-weight: bold;
}
