#root {
  /* Obligamos a aprovechar el máximo tamaño disponible */
  width: 100%;
  /* Establecemos un mínimo de ancho enfocado a la media mobile */
  min-width: 315px;
  /* Este es el padding general que permite ver la imagen de las estrellas alrededor */
  padding: 30px;
}

#App {
  padding: 10px 20px 50px 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 16px;
}

/* =================================================
                   MEDIA QUERIES
 ================================================= */
@media screen and (min-width: 376px) and (max-width: 767px) {
  #App {
    padding: 10px 40px 40px 40px;
  }
}

@media screen and (min-width: 768px) {
  #App {
    padding: 10px 50px 50px 50px;
  }
}
