@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* ------ FUENTES ------ */
  font-family: 'Comic Neue', cursive;
  font-family: 'Open Sans', sans-serif;

  /* ------ COLORES ------ */
  --primary-color: #1f8bff;
  --secondary-color: #ff3c00;
  --tertiary-color: #ffcc00;
}

/* Para trabajar mas fácilmente con imágenes */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* Centro el contenido del body */
  display: flex;
  align-items: center;
  /* Estilos para el background */
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}
