* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* COLOR PALETTE */
  --ns__color--blue: #0e3d91;
  --ns__color--white: #ffff;
  --ns__color--white--blur: #ffffff8c;
  --ns__color--red: #f93e23;

  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* Centramos el contenido del body */
  display: flex;
  align-items: center;
  /* Establecemos el background y le damos estilos */
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}
