.roverTitle {
  background-color: var(--secondary-color);
  padding: 0.8rem;
  margin-bottom: 20px;
  border-bottom-right-radius: 3rem;
  color: white;
}

.roverInputDate {
  margin-top: 220px;
}

.roverParagraph {
  font-size: 1.1rem;
}
